header>a img{
    max-height: 10vh !important;
    width: 130px!important;
}
body{
    font-family: 'Atma' ;
}
a{
    text-decoration: none;
}
.box-shadow{
    webkit-box-shadow: 2.736px 7.518px 20px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 2.736px 7.518px 20px 0px rgba(0, 0, 0, 0.14);
    -o-box-shadow: 2.736px 7.518px 20px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 2.736px 7.518px 20px 0px rgba(0, 0, 0, 0.14);
}
.min-height{
	min-height:80vh;
    display: flex;
    justify-content: center;
}
.welcome-text{
	font-size: 3.575rem;
    text-align: center;
    color: #fff;
    align-self: flex-end;
    margin-bottom: 80px;
}
.welcome-text a{
	text-decoration: none;
	color: #fff;
}

.welcome-text1{
	font-size: 3.575rem;
    text-align: center;
    color: #fff;
     align-self: flex-end;
    margin-bottom: 80px;
}
.welcome-text1 a{
	text-decoration: none;
	color: #fff;
}
.black{
    color: black;
}
.content{
    font-size: 20px;
    margin-top: 10px; 
    text-align: left;
    padding: 12px;
    overflow: hidden;
}
.font-size115{
    font-size: 15px!important;
}